<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>

    <title>projet 1-37</title>
</head>
<body>

<div id="app" >
 <p>Quel langage de programmation connaisez vous ?</p>
 <input type="text" v-model="texte">
 <input type="button" value="Ajouter" @click="ajouter">
 <div v-for="langage in langages">
  <input type="checkbox" v-model="langage.etat">
    {{langage.lang}}
    <span v-if="langage.etat">est coché</span>
    <span v-else="langage.etat">est décoché</span>

 </div>
  </div> 
</div>

<script>
  app = Vue.createApp({
    data(){
      return{
        langages:[],
        texte:''
      }
    },
    methods:{
      ajouter(){
        this.langages.push({lang:this.texte,etat:false})
      }
    }
  });
  app.mount('#app')
</script>
  
</body>
</html>